appdirs==1.4.3
APScheduler==3.6.0
astroid==2.2.5
attrs==19.1.0
autopep8==1.4.4
bcrypt==3.1.6
black==19.3b0
blinker==1.4
certifi==2019.3.9
cffi==1.12.3
chardet==3.0.4
Click==7.0
cycler==0.10.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
isort==4.3.20
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.0.1
lazy-object-proxy==1.4.1
lxml==4.3.3
MarkupSafe==1.1.1
matplotlib==2.2.3
mccabe==0.6.1
monthly-returns-heatmap==0.0.11
numpy==1.16.2
pandas==0.24.2
Pillow==5.4.1
pipenv==2018.11.26
psycopg2-binary==2.7.5
pycodestyle==2.5.0
pycparser==2.19
pylint==2.3.1
pyparsing==2.2.0
python-bitcoinrpc==1.0
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
requests==2.22.0
scikit-learn==0.19.2
scipy==1.1.0
seaborn==0.9.0
simplejson==3.16.0
six==1.12.0
SQLAlchemy==1.3.4
toml==0.10.0
typed-ast==1.4.0
tzlocal==1.5.1
urllib3==1.25.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
Werkzeug==0.15.1
wrapt==1.11.1
WTForms==2.2.1
