{% extends "layout.html" %}
{% block content %}
<!-- http://jquery.com/ -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<div class="row">
    <div class="col-sm-10 col-md-10">
        <div class="thumbnail">
            <h1>
                CryptoBlotter v.01
            &nbsp;
            <i class="fab fa-bitcoin "></i>
            </h1>
            <hr>
            <div class="caption">
                <strong>
                    Please note that this ALPHA version is still under development and test.
                    Use at your own risk. We cannot guarantee the accuracy of the data.
                </strong>
                <br><br>
                <p>
                    This is work in progress. If you have suggestions or feedback please
                    report them at the link below.
                </p>
                <br><br>
                <h4 class="align-middle">
                    <a href='https://github.com/pxsocs/cryptoblotter'>GitHub Repository</a>&nbsp;
                    <i class="fab fa-github-square fa-lg"></i>
                </h4>



            </div>
        </div>
    </div>
</div>

{% endblock content %}
