{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-10 col-md-10">
        <div class="thumbnail">
            <h1>
                The WARden v.1
                &nbsp;
                <i class="fab fa-bitcoin "></i>
            </h1>
            <hr>
            <div class="caption">
                <strong>
                    <p>Please note that this ALPHA version is still under development and test.</p>
                    <p>Use at your own risk. We cannot guarantee the accuracy of the data.</p>
                </strong>

                <p>
                    If you have suggestions or feedback please
                    report them at the link below.
                </p>
                <br><br>
                <h4 class="align-middle">
                    <a href='https://github.com/pxsocs/thewarden'>GitHub Repository</a>&nbsp;
                    <i class="fab fa-github-square fa-lg"></i>
                </h4>



            </div>
        </div>
    </div>
</div>

{% endblock content %}