{% extends "layout.html" %}
{% block content %}


<div class="row">
    <div class="col-sm-12">
        <div id="alerts" class="container"></div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <div class="content-section">
            <legend>Bitmex Login Credentials</legend>

            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">API Key</span>
                </div>
                <input id='api_txt' type="text" class="form-control" value={{bitmex_credentials['api_key']}}>
                <div class="input-group-prepend">
                    <span class="input-group-text">API Secret</span>
                </div>

                <input id='api_secret' type="text" class="form-control" value={{bitmex_credentials['api_secret']}}>

                <div class="input-group-append">
                    <button id='api_key' class="btn btn-outline-secondary" type="button">Test and Update Key</button>
                </div>
            </div>

            <div class='small text-muted'>
                To get an API key, go to <a href='https://www.bitmex.com/app/apiKeys'>Accounts
                    <i class="fas fa-arrow-right"></i> API Keys on
                </a> on your Bitmex account
            </div>


            <div class='content-section' id='api_status' style="display:none; background:lightgray;">
            </div>

        </div>

    </div>
</div>

{%if meta.success=='success'%}

<div class="row">
    <div class="col-sm-12">
        <div class="content-section">

            <legend class="mb-4">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="small">
                            <strong>Note</strong>: Only the latest 500 transactions are shown
                        </span>

                    </div>
                    <div class="col-sm-6 text-right">

                        <button type="button" id="select_none" class="btn btn-outline-secondary btn-sm">Select
                            None</button>

                        <button type="button" id="select_all" class="btn btn-outline-secondary btn-sm"
                            value="Select All">Select All</button>
                        <br>
                        <button type="button" id="import" class="btn btn-secondary btn-sm">Import Selected
                            Transactions</button>

                    </div>
                </div>
            </legend>


            <table id="transactionstable" class="table table-sm table-striped align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col">
                            Time
                        </th>
                        <th scope="col">
                            Symbol
                        </th>
                        <th scope="col">
                            Type
                        </th>
                        <th scope="col">
                            Side
                        </th>
                        <th scope="col">
                            Notional ($)
                        </th>
                        <th scope="col">
                            Price ($)
                        </th>
                        <th scope="col">
                            Fees ($)
                        </th>
                        <th scope="col" class='small'>
                            Transaction ID
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="transactions">
                    {%for key, item in transactions['data'].iterrows()%}

                    <tr id={{item['execID']}}>

                        <td>
                            {{item['transactTime'].strftime('%Y-%m-%d')}}
                        </td>
                        <td>
                            {{item['symbol']}}
                        </td>
                        <td>
                            {{item['execType']}}
                        </td>
                        <td>
                            {{item['side']}}
                        </td>
                        <td>
                            {{item['lastQty'] | jformat(2,1) }}
                        </td>
                        <td>
                            {{item['lastPx'] | jformat(2,1)}}
                        </td>
                        <td>
                            {{item['fiat_fee'] | jformat(2)}}
                        </td>
                        <td class='small'>
                            {%if item['execType']=='Trade'%}
                            {%if not item['exists']%}
                            {{item['execID']}}
                            {%else%}
                            <span class='text-success'>
                                Trade already imported
                            </span>
                            {%endif%}

                            {%elif item['execType']=='Funding'%}
                            <span class='text-warning'>
                                Can't import funding
                            </span>
                            {%endif%} </td>
                        <td class="align-middle text-center" scope="row">
                            {%if item['execType']=='Trade'%}
                            {%if not item['exists']%}
                            <input type="checkbox" class="form-check-input import_check text-center checkbox"
                                id="check_{{item['execID']}}">
                            {%endif%}
                            {%endif%}
                        </td>

                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{%else%}
<div class="row">
    <div class="col-sm-12">
        <div class="content-section text-info">
            Error: Check your API Credentials above
        </div>
    </div>
</div>
{%endif%}



<script src="/static/bitmex_transactions.js"></script>

{% endblock content %}