{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h4>
                Your portfolio does not appear to have any positions</br>
            </h4><br>
            <h5>Portfolio may still have some fiat transactions. You can see a list of your transactions <a
                    href="{{url_for('transactions.list_transactions')}}">here.</a></h5>
            <br>
            <h5>Or maybe you are new here?</br>
                You can start by including some <a href="{{url_for('transactions.newtrade')}}">transactions</a>.</h5>
            </br>
            <hr>
            <h5>
                You may also choose to <a href="/importcsv">upload a csv file</a> with existing transactions.
                Instructions
                can be found <a href="/csvtemplate">here</a>. </h5>

        </div>
        <div class="col-sm-4">
            <img class="mx-auto d-block" src="static/images/empty.png" width="75" height="125"></img>
        </div>
    </div>
</div>

{% endblock content %}