<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="static/dependencies/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="static/dependencies/bootstrap/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/front_page.css">
<link rel="stylesheet" type="text/css" href="static/layout_loggedoff.css">
<link
    href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Raleway:400,100,200,300,500,600,700,800,900|Playfair+Display+SC:400italic,700italic,400,700,900'
    rel='stylesheet' type='text/css'>

<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>The WARDen | Open Source Portfolio Tracker </title>
</head>

<body>
    <!-- MAIN PAGE WRAPPER -->
    <div id="wrapper">

        <header class="site-header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-steel fixed-top justify-content-end">

            </nav>
        </header>


        <!-- Main Content -->
        <div id="page-content-wrapper">
            <main role=" main">
                <style>
                    body {
                        background-color: rgb(37, 37, 37);
                    }

                    .section-center__full {
                        height: 45vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                </style>

                <!-- Error messages -->
                <div class='row' style='padding-top: 30px; padding-left: 20px;'>

                    <div class='col-sm-12 text-white'>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        {% for category, message in messages %}
                        <div id="messagealert" class="alert alert-{{ category }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </div>


                <div class="row border-bottom">
                    <div class="col-sm-4" style='min-width: 300px;'>
                        <div class='container-fluid'>
                            <div class='row text-center'>

                                <div class='col-sm-12'>
                                    <div class="wrapper">
                                        <div class="svg-wrapper"><svg><text
                                                    class="upper text-w sans">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</text></svg>
                                        </div>
                                        <div class="svg-wrapper"><svg><text
                                                    class="upper sans bold text-w">WAR</text></svg>
                                        </div>
                                        <div class="svg-wrapper"><svg><text class="upper sans text-w">den</text></svg>
                                        </div>
                                        <div class="svg-wrapper"><svg><text class="upper serif text-w"></text></svg>
                                        </div>
                                        <div class="svg-wrapper"><svg><text class="upper sans text-w text-center">Open
                                                    Source&nbsp</text></svg>
                                        </div>
                                        <div class="svg-wrapper"><svg><text
                                                    class="upper sans bold text-w text-center">Portfolio</text></svg>
                                        </div>
                                        <div class="svg-wrapper"><svg><text
                                                    class="upper sans text-w text-center">Tracking and
                                                    Analysis</text></svg></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class='col-lg-4'
                            style="display: table-cell; vertical-align: middle; text-align: left; color: white;">
                            <br>

                            <div>

                                <form method="POST" action="">
                                    {{ form.hidden_tag() }}
                                    <fieldset class="form-group">
                                        <legend class="border-bottom mb-4">Log In</legend>
                                        <div class="form-group">
                                            {{ form.email.label(class="form-control-label") }}
                                            {% if form.email.errors %}
                                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.email.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            {{ form.email(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form.password.label(class="form-control-label") }}
                                            {% if form.password.errors %}
                                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback">
                                                {% for error in form.password.errors %}
                                                <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                            {% else %}
                                            {{ form.password(class="form-control form-control-lg") }}
                                            {% endif %}
                                        </div>
                                        <div class="form-check">
                                            {{ form.remember(class="form-check-input") }}
                                            {{ form.remember.label(class="form-check-label") }}
                                        </div>
                                    </fieldset>
                                    <div class="form-group">
                                        {{ form.submit(class="btn btn-outline-info") }}
                                        <small class="text-muted ml-2">
                                            <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>
                                        </small>
                                    </div>

                                </form>

                            </div>
                            <div>
                                <span class="white-text">
                                    Don't have a login yet? <a class="white-text"
                                        href={{ url_for('users.register')}}>Click
                                        Here</a>
                                </span>
                            </div>
                            <br><br>

                        </div>
                    </div>
                </div>


                <div class='row' style='padding-top: 30px; padding-left: 20px; font-size:  14px;'>

                    <div class='col-sm-5 text-white'>
                        <p><strong style="font-size:  20px;" class="border-bottom">This is an Open Source
                                project.</strong></p>

                        <p>We believe Open Source is the future of development for bitcoin. There is no other
                            way when transparency and privacy are critical. </p>
                        <p>If you want to support a future where software is built with these ideals and if you like
                            the WARden, consider supporting it. All proceeds will be used to improve the app.</p>
                        <p><strong>We suggest a one time payment of 1,000,000 sats</strong>. But it's completely up to
                            you the amount and if you want to contribute.</p>
                        <p>We are also working on white-labeling the app for institutions. Contact us through twitter
                            for more info. <a style="text-decoration : none" target='new_page'
                                href="https://twitter.com/alphaazeta"> <i class="text-white fab fa-twitter fa-xlg"></i>
                                <span class="text-white">@AlphaaZeta&nbsp;</span></a></p>
                    </div>
                    <div class='col-sm-6 text-white'>
                        <p><strong style="font-size:  22px;" class="border-bottom">Contribute to this software</strong>
                        </p>

                        <p>Bitcoin public address</p>
                        <p><code>bc1qlwelaz6jsupjrfpuk0327uazxrregvupse99rz</code></p>
                        <img src="static/images/qr_code_btc.png" height=200 width=200>
                        <br><br><br>

                        <p>Or through the lightning network</p>
                        <!-- Beginning of tippin.me Button -->
                        <div id="tippin-button" class="text-center" data-dest="alphaazeta"></div>
                        <script src="https://tippin.me/buttons/tip.js" type="text/javascript"></script>
                        <!-- End of tippin.me Button -->

                    </div>
                </div>



            </main>

        </div>




        <!-- END MAIN CONTENT -->


    </div>
    <!-- END OF WRAPPER -->

</body>

<!-- app's own JavaScript -->
<script src="/static/front_page.js"></script>

</html>