{% extends "layout.html" %}
{% block content %}

<style>
    body {
        background: url("static/images/background_gb.png") no-repeat;
        background-size: cover;
    }

    .section-center__full {
        height: 45vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<br>
<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-8'>
            <div class="jumbotron-fluid">
                <h1 class="display-4 text-white">The WARden v.11α</h1>
                <p class="lead text-white">Open Source portfolio tracking tool</p>
                <hr style="border-top: 1px solid white;">

                <p class="lead text-white">
                    <i class="fab fa-github"></i>&nbsp;Source code available at <a class='text-white'
                        href='https://github.com/pxsocs/thewarden'>GitHub</a><br>
                    Submit any questions, suggestions or requests at the <a class='text-white'
                        href='https://github.com/pxsocs/thewarden'>repository</a>.
                </p>
            </div>
        </div>
        <div class='col-lg-4' style="display: table-cell; vertical-align: middle;">
            <br>

            <div>
                <a class="btn btn-outline-light btn-lg btn-block" href={{ url_for('users.login')}} role="button">
                    Login to your portfolio</a>
            </div>
            <div>
                <span class="white-text">
                    Not Registered yet? <a class="white-text" href={{ url_for('users.register')}}>Register Here</a>
                </span>
            </div>
            <br><br>
            <div>
                <div class='text-left'>
                    <!-- Beginning of tippin.me Button -->
                    <div id="tippin-button" class="text-center" data-dest="alphaazeta"></div>
                    <script src="https://tippin.me/buttons/tip.js" type="text/javascript"></script>
                    <!-- End of tippin.me Button -->
                    <span class='text-white'>
                        <p>Tip this project with the lightning network</p>
                    </span>

                </div>
            </div>
        </div>

    </div>


    <div class="row">
        <br><br>
    </div>


    <div class="row">


        <div class='col-lg-4 d-flex align-items-stretch'>
            <div class="card bg-transparent text-white border-light">
                <div class="card-header text-white" style="border-bottom: 1px solid white;">
                    Privacy Focused&nbsp;&nbsp;<i class="fas fas fa-user-secret"></i>
                </div>
                <div class=" card-body text-white">
                    <h5 class="card-title text-white">Protected your privacy</h5>
                    <p class="card-text  text-justify">Tor and Samourai Dojo can be used to enhance privacy.
                        <br><br>
                        <span class='text-white'>Price requests can be sent through the Tor network to reduce the chance
                            of IP tracking. If a Samourai Dojo is installed you can use it to keep an eye on your
                            addresses and
                            verify and import transactions at the blockchain. All of that while using your own node.
                        </span></p>
                </div>
            </div>
        </div>


        <div class='col-lg-4 d-flex align-items-stretch'>
            <div class="card bg-transparent text-white border-light">
                <div class="card-header text-white" style="border-bottom: 1px solid white;">
                    Portfolio NAV tracking&nbsp;&nbsp;<i class="fas fa-chart-line"></i>
                </div>
                <div class="card-body text-white">
                    <h5 class="card-title text-white">Better performance tracking</h5>
                    <p class="card-text  text-justify text-white">NAV is particularly important when #stackingsats - it
                        tracks
                        performance relative
                        to current capital allocated.<br><br> <span class='text-white'> A portfolio going from $100 to
                            $200 may seem
                            like it 2x
                            but the performance really depends wether capital was invested or divested during
                            this period. NAV adjusts for cash inflows and outflows.</span></p>
                </div>
            </div>
        </div>


        <div class='col-lg-4 d-flex align-items-stretch'>
            <div class="card bg-transparent text-white border-light">
                <div class="card-header text-white" style="border-bottom: 1px solid white;">
                    Open Source Code&nbsp;&nbsp;<i class="fas fa-box-open"></i>
                </div>
                <div class="card-body text-white ">
                    <h5 class="card-title text-white">Transparency & Privacy</h5>
                    <p class="card-text  text-justify">The source code is full open source for review and
                        modifications (personal use only).<br><br> <span class='text-white'> You are actually encouraged
                            to
                            run the code locally in your computer to reduce the risk of data mining of your
                            information.</span></p>
                </div>
            </div>
        </div>
        <div class='col-lg-1'>
        </div>
    </div>
</div>
<br><br>

<br><br><br><br><br>

{% endblock content %}