{% extends "layout.html" %}
{% block content %}

<!--  High Charts -->
<script src="https://code.highcharts.com/stock/highstock.js"></script>
<!-- <script src="https://code.highcharts.com/highcharts.js"></script> -->
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="static/highcharts.js"></script>
<div class="row">

    <!-- Start of left side column with positions, etc -->
    <div class="col-sm-8">
        <table id="portfoliosummary" class="table-condensed">

            <tbody>
                <tr>
                    <td class="border-bottom hinumber" data-toggle="tooltip" data-placement="top"
                        title="Market Value in {{current_user.fx() | fxsymbol}}">
                        <span id="pvalue"><img src='static/images/loading_small.gif' width="30" height="30"></span>
                    </td>
                    <td></td>
                    <td class="border-bottom hinumber" data-toggle="tooltip" data-placement="top"
                        title="Market Value in BTC">
                        <span id="pvaluebtc"><img src='static/images/loading_small.gif' width="30" height="30"></span>
                    </td>
                    <td></td>
                    <td id="chg1" class="redgreen border-bottom hinumber text-right">
                        <span id="pvaluebtc"><img src='static/images/loading_small.gif' width="30" height="30"></span>
                    </td>
                    <td></td>
                    <td id="chg2" class="redgreen border-bottom hinumber text-right">
                        <img src='static/images/loading_small.gif' width="30" height="30">
                    </td>
                </tr>
                <tr>
                    <td class="small">
                        portfolio value
                    </td>
                    <td></td>
                    <td class="small">
                        portfolio value
                    </td>
                    <td></td>
                    <td class="small text-right">
                        24hr change
                    </td>
                    <td></td>
                    <td class="small text-right">
                        24hr change

                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <!-- Portfolio Summary Bar at top -->
    <div class="col-sm-4 align-right">
        <table id="time" class="table-condensed table-right text-right">
            <tbody>
                <tr>

                    <td id='latest_btc_price' class="text-left border-bottom hinumbersmall" data-toggle="tooltip"
                        data-placement="top" title="Bitcoin's Latest Price">
                        <img src='static/images/loading_small.gif' width="30" height="30"></img>
                    </td>

                    <td id='latest_btc_block' class="text-left border-bottom hinumbersmall" data-toggle="tooltip"
                        data-placement="top" title="Bitcoin's Latest Block">
                        <img src='static/images/loading_small.gif' width="30" height="30"></img>
                    </td>

                    <td class="border-bottom hinumbersmall text-right">
                        <span id="lstupd">
                            <img src='static/images/loading_small.gif' width="30" height="30"></img>
                        </span>

                    </td>


                </tr>
                <tr>
                    <td class="small text-left">
                        &#8383 Price
                    </td>

                    <td class="small text-left">
                        &#8383 Block Height
                    </td>

                    <td class="small text-right">
                        last update
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</div>
</br>


<div class="row">

    <div class="col-sm-8">

        <!-- START Portfolio Snapshot section  -->
        <div class="content-section">
            <div class="row">
                <div class="col-sm-6">
                    <div class="lead">Portfolio Snapshot</div>
                </div>


            </div>

            <table id="positionstable" class="table table-sm small-text">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Ticker
                        </th>

                        <th class="text-right" data-toggle="tooltip" data-placement="top" title="in number of coins">
                            Quantity
                        </th>

                        <th class="text-right">
                            Latest Price ({{current_user.fx() | fxsymbol}})
                        </th>

                        <th class="text-right small">
                            24hr Chg
                        </th>
                        <th>

                        </th>
                        <th class="text-right">
                            Position ({{current_user.fx() | fxsymbol}})
                        </th>
                        <th class="text-right small">
                            % of total
                        </th>


                    </tr>
                </thead>
                <tbody id="portfolio">
                    {% for position in portfolio_data %}

                    <tr id="ticker{{position}}">

                        <th class="align-middle" scope="row">{{position}}</th>

                        <td class="text-right align-middle">
                            {{(portfolio_data[position]['trade_quantity'] | jformat(4))}}

                        </td>

                        <td class="text-right align-middle hinumbersmall">
                            <strong>
                                <span id="{{position}}_price">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>
                            </strong>
                        </td>

                        <td class="text-right small align-middle redgreen">
                            <span id="{{position}}_24hchg">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>

                        </td>

                        <td class="text-center align-middle">


                        </td>

                        <td class="text-right align-middle">
                            <span id="{{position}}_position">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>
                        </td>

                        <td class="text-right small align-middle">
                            <span id="{{position}}_allocation">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>

                        </td>




                    </tr>

                    {% endfor %}


                </tbody>
            </table>
        </div>
        <!-- END Portfolio Snapshot section  -->


        <!-- START Cost Analysis section -->
        <div class="content-section">
            <div class="row">
                <div class="col-sm-6">
                    <div id="cost_title" class="lead">Cost Analysis</div>
                </div>

                <div class="col-sm-6 text-right">
                    <span id="acc_method" class="small text-secondary text-right">
                        Method: FIFO (First-in First-Out)
                    </span>
                </div>

            </div>


            <span class="fifo_costtable">
                <table id="fifo_costtable" class="table table-sm small-text">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Ticker
                            </th>

                            <th class="text-right">
                                Position
                            </th>

                            <th class="text-right">
                                Realised PnL
                            </th>

                            <th class="text-right">
                                Unr. PnL
                            </th>
                            <th class="text-right small">
                                Unr. Breakeven
                            </th>


                            <th class="text-right">
                                Fees
                            </th>
                            <th class="text-right">
                                Total PnL
                            </th>
                            <th class="text-right">
                                Breakeven
                            </th>



                        </tr>
                    </thead>

                    <tbody id="portfolio">
                        {% for position in portfolio_data %}
                        {% if position != "TOTAL" %}
                        <tr id="tickerfifo_{{position}}">
                            <th class="align-middle">{{position}}</th>

                            <td class="text-right align-middle">
                                <span id="{{position}}_F_position">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>
                            <td class="text-right align-middle redgreen">
                                <span id="{{position}}_fifo_real">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle redgreen">
                                <span id="{{position}}_fifo_unreal">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle small">
                                <span id="{{position}}_fifo_unreal_be">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>


                            <td class="text-right align-middle">
                                <span id="{{position}}_F_trade_fees_fx">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle redgreen">
                                <span id="{{position}}_F_pnl_net">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle">
                                <span id="{{position}}_F_breakeven">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr id="tickerTOTAL" class="table-dark">
                            <th class="align-middle" scope="row">TOTAL</th>

                            <td class="text-right align-middle">
                                <span id="F_total">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle redgreen">
                                <span id="F_real">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right small align-middle redgreen">
                                <span id="F_unreal">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>
                            </td>

                            <td class="text-right small align-middle redgreen">

                            </td>


                            <td class="text-right align-middle">
                                <span id="F_fees">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle">
                                <span id="F_pnl">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right small align-middle">

                            </td>

                        </tr>

                    </tbody>
                </table>
            </span>

            <span class="lifo_costtable">
                <table id="lifo_costtable" class="table table-sm small-text">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">
                                Ticker
                            </th>

                            <th class="text-right">
                                Position
                            </th>

                            <th class="text-right">
                                Realised PnL
                            </th>

                            <th class="text-right">
                                Unr. PnL
                            </th>
                            <th class="text-right small">
                                Unr. Breakeven
                            </th>

                            <th class="text-right">
                                Fees
                            </th>
                            <th class="text-right">
                                Total PnL
                            </th>
                            <th class="text-right">
                                Breakeven
                            </th>



                        </tr>
                    </thead>

                    <tbody id="portfolio">
                        {% for position in portfolio_data %}

                        {% if position != "Total" %}

                        <tr id="tickerlifo_{{position}}">
                            <th class="align-middle">{{position}}</th>

                            <td class="text-right align-middle">
                                <span id="{{position}}_L_position">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>
                            <td class="text-right align-middle redgreen">
                                <span id="{{position}}_lifo_real">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle redgreen">
                                <span id="{{position}}_lifo_unreal">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle small">
                                <span id="{{position}}_lifo_unreal_be">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>


                            <td class="text-right align-middle">
                                <span id="{{position}}_L_trade_fees_fx">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle redgreen">
                                <span id="{{position}}_L_pnl_net">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle">
                                <span id="{{position}}_L_breakeven">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                        </tr>
                        {% endif %}
                        {% endfor %}

                        <tr id="tickerTOTAL" class="table-dark">
                            <th class="align-middle" scope="row">TOTAL</th>

                            <td class="text-right align-middle">
                                <span id="L_total">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle redgreen">
                                <span id="L_real">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right small align-middle redgreen">
                                <span id="L_unreal">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>
                            </td>

                            <td class="text-right small align-middle redgreen">

                            </td>


                            <td class="text-right align-middle">
                                <span id="L_fees">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right align-middle">
                                <span id="L_pnl">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>

                            </td>

                            <td class="text-right small align-middle">

                            </td>

                        </tr>

                    </tbody>
                </table>
            </span>


        </div>
        <!-- END Cost Analysis Section -->

        <!-- START Market Data Section -->
        <div class="content-section">
            <div class="lead">Market Data</div>
            <table id="marketdatatable" class="table table-sm small-text">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">
                            Ticker
                        </th>

                        <th class="text-right">
                            Price ({{current_user.fx() | fxsymbol}})
                        </th>

                        <th class="text-right small">
                            24hr Chg
                        </th>
                        <th class="text-center small">
                            24hr Price Range
                        </th>
                        <th class="text-right small">
                            24hr Volume
                        </th>
                        <th class="text-right small">
                            Mkt Cap
                        </th>

                        <th class="text-right small">
                            Last Update
                        </th>

                        <th class="text-right small">
                            Source
                        </th>

                    </tr>
                </thead>

                <tbody id="portfolio">
                    {% for position in portfolio_data %}

                    {% if position != "TOTAL" %}


                    <tr id="tickerdata_{{position}}">


                        <th class="align-middle" scope="row">
                            {{position}}
                        </th>

                        <td class="text-right align-middle hinumbersmall">
                            <strong>
                                <span id="{{position}}_mkt_price">
                                    <img src='static/images/loading_small.gif' width="30" height="30"></img>
                                </span>


                            </strong>
                        </td>

                        <td class="text-right align-middle small redgreen">
                            <span id="{{position}}_24h_change">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>
                        </td>

                        <td class="text-center small">
                            <span id="{{position}}_24h_range">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>

                        </td>


                        <td class="text-right align-middle small">
                            <span id="{{position}}_volume">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>
                        </td>


                        <td class="text-right align-middle small">
                            <span id="{{position}}_mktcap">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>

                        </td>

                        <td class="text-right align-middle small">
                            <span id="{{position}}_lastupdate">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>
                        </td>


                        <td class="text-right align-middle small">
                            <span id="{{position}}_source">
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>

                        </td>
                        {%endif%}

                    </tr>

                    {% endfor %}


                </tbody>
            </table>
        </div>
        <!-- END Market Data Section -->
        <!-- START charts -->
        <div>
            <!-- NAV Chart -->
            <div id="navchart" style="height: 350px; margin: 0 auto">
                <span class="loadanim">&nbsp;Loading NAV Chart</span>
            </div>
        </div>
        <!-- END Charts -->
        </br>
        </br>
    </div>


    <div class="col-sm-4">
        <!-- START Portfolio Statistics section -->



        <div class="content-section">

            <span class="lead">Summary Stats </span></br>
            <span id='stats_dates_txt' class="small text-muted"></span>

            <table id="positionstable" class="table table-sm small-text">
                <tbody>
                    <tr>
                        <td>Current NAV</td>
                        <td id='end_nav' class="text-right"> <img src='static/images/loading_small.gif' width="30"
                                height="30"></img> </td>
                    </tr>
                    <tr>
                        <td>Highest NAV</td>
                        <td id='max_nav' class="text-right"> <img src='static/images/loading_small.gif' width="30"
                                height="30"></img> </td>
                    </tr>
                    <tr>
                        <td>Lowest NAV</td>
                        <td id='min_nav' class="text-right"> <img src='static/images/loading_small.gif' width="30"
                                height="30"></img> </td>
                    </tr>
                    {% if current_user.fx()!='USD'%}
                    <tr>
                        {%else%}
                    <tr hidden>
                        {%endif%}
                        <td>Portfolio Value (USD)</td>
                        <td id='end_portvalue_usd' class="text-right"> <img src='static/images/loading_small.gif'
                                width="30" height="30"></img> </td>
                    </tr>

                    <tr>
                        <td>Portfolio Value</td>
                        <td class="text-right">
                            {{current_user.fx() | fxsymbol}}
                            <span id='end_portvalue'> <img src='static/images/loading_small.gif' width="30"
                                    height="30"></img>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>Highest Value</td>
                        <td class="text-right">
                            {{current_user.fx() | fxsymbol}}
                            <span id='max_portvalue'>
                                <img src='static/images/loading_small.gif' width="30" height="30"></img>
                            </span>
                        </td>
                    </tr>


                    <tr>
                        <th colspan="2">NAV Returns</th>
                    </tr>

                    <tr>
                        <td>Since last 'close'</td>
                        <td id='return_1d' class="text-right redgreen"> <img src='static/images/loading_small.gif'
                                width="30" height="30">
                            </img> </td>
                    </tr>
                    <tr>
                        <td>1 week</td>
                        <td id='return_1wk' class="text-right redgreen"> <img src='static/images/loading_small.gif'
                                width="30" height="30"></img> </td>
                    </tr>
                    <tr>
                        <td>30 days</td>
                        <td id='return_30d' class="text-right redgreen"> <img src='static/images/loading_small.gif'
                                width="30" height="30"></img> </td>
                    </tr>
                    <tr>
                        <td>90 days</td>
                        <td id='return_90d' class="text-right redgreen"> <img src='static/images/loading_small.gif'
                                width="30" height="30"></img> </td>
                    </tr>
                    <tr>
                        <td>Since ATH</td>
                        <td id='return_ATH' class="text-right redgreen"> <img src='static/images/loading_small.gif'
                                width="30" height="30"></img> </td>
                    </tr>
                    <tr>
                        <td>Since inception</td>
                        <td id='return_SI' class="text-right redgreen"> <img src='static/images/loading_small.gif'
                                width="30" height="30"></img> </td>
                    </tr>

                </tbody>

            </table>

        </div>

        <!-- END Portfolio Statistics section -->

        <div>
            <!-- Asset Allocation Chart -->
            <div id="piechart" style="height: 250px">
                <span class="loadanim">&nbsp;Loading Allocation Chart</span>
            </div>
        </div>

        <!-- START setting section -->
        <div class="content-section">
            <p class="lead">
                <i class="fas fa-sliders-h"></i>
                &nbsp;Display Settings

            </p>

            <!-- Option: Small Positions -->
            <div class="row small">
                <div class="col-sm-8 text-left align-middle">
                    Show small + closed positions
                </div>
                <div class="col-sm-4 align-middle">
                    <div class="onoffswitch">
                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                        <label class="onoffswitch-label" for="myonoffswitch">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Option: LIFO FIFO -->
            <div class="row small">
                <div class="col-sm-8 text-left align-middle">
                    PnL accounting
                </div>
                <div class="col-sm-4">
                    <div class="fifolifoswitch align-middle">
                        <input type="checkbox" name="fifolifoswitch" class="fifolifoswitch-checkbox"
                            id="myfifolifoswitch">
                        <label class="fifolifoswitch-label" for="myfifolifoswitch">
                            <span class="fifolifoswitch-inner"></span>
                            <span class="fifolifoswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>



        </div>
        <!-- END Settings Section -->


    </div>


</div>

<div class='row'>
    <div class="col-sm-12 text-muted small">

        <span class="text-dark">
            <span class="fa-lg">({{current_user.fx() | fxsymbol}})</span>
            <strong>All prices in this page are quoted in
                {{current_user.fx() | fxsymbol('name_plural')}}
            </strong>
        </span>

    </div>
</div>
</br>


<script src="/static/portfolio.js"></script>


{% endblock content %}