{% extends "layout.html" %}
{% block content %}

<style>
  body {
    background-color: #333333;
    background-size: cover;
  }

  .section-center__full {
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<br>
<div class='container-fluid'>


  <div class="row">
    <div class='col-lg-12'>
      <h1 class="text-white">Setup Guide</h1>

      <br>
    </div>
  </div>

  <div class="row">
    <div class='col-lg-12 d-flex align-items-stretch'>
      <div class="card bg-transparent text-white border-light w-100" id='starter_api_key'>
        <div class="card-header text-white" style="border-bottom: 1px solid white;">
          <span style='font-size: 32px;'>Include Transactions
          </span>
        </div>
        <div class="card-body text-white">
          <p>
            You may enter your transactions: </p>
          <p>
            <i class="fas fa-arrow-alt-circle-right fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Manually</strong>: Click <a
              href="/newtrade"><img src="static/images/new_transaction_icon.png" width="200" height="40"></a> at
            the
            sidebar.
          </p>
          <p>
            <i class="fas fa-arrow-alt-circle-right fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Import a CSV file</strong>:
            Click <a href="/importcsv"> <img src="static/images/import_csv_icon.png" width="150" height="40"></a>
            at
            the
            sidebar.
          </p>
          <p>
            <i class="fas fa-arrow-alt-circle-right fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Import straight from your
              Bitcoin full node
              with the
              Dojo:</strong> If you have a Dojo,
            <strong><a class='text-white' href='/bitcoin_monitor'> click here<a></strong>.
          </p>
          <p>
            <i class="fas fa-arrow-alt-circle-right fa-lg"></i>&nbsp;&nbsp;&nbsp;<strong>Import transactions from
              Bitmex:</strong>
            <strong><a class='text-white' href='/bitmex_transactions'> click here<a></strong>.
          </p>


        </div>

      </div>
    </div>
  </div>
  </br></br>
  <div class="row">
    <div class='col-lg-12 d-flex align-items-stretch'>
      <div class="card bg-transparent text-white border-light w-100" id='starter_api_key'>
        <div class="card-header text-white" style="border-bottom: 1px solid white;">
          <span style='font-size: 32px;'>Download
            Tor&nbsp;&nbsp;</span><strong>[Optional]&nbsp;&nbsp;[Required with the Dojo]</strong>
        </div>
        <div class="card-body text-white">
          <p>
            When using Tor, traffic is routed through multiple servers and encypted in each step.</p>
          <p>If enabled, the application will use Tor to send price requests using onion routing.</p>
          <p><strong>Please note that using Tor will slow down the application. </br></br></strong></p>
          <p>
            <div class="text-left text-white">
              <a class="btn btn-outline-secondary text-white btn-block" target="new_page"
                href="https://www.torproject.org/download/" role="button">Download
                Tor</a>
            </div>
          </p>


        </div>

      </div>
    </div>
  </div>
  </br></br>


  <div class="row">

    <div class='col-lg-12 d-flex align-items-stretch'>

      <div class="card bg-transparent text-white border-light w-100" id='starter_api_key'>
        <div class="card-header text-white" style="border-bottom: 1px solid white;">
          <span style='font-size: 32px;'>Get an Alphavantage API
            Key&nbsp;&nbsp;</span>
        </div>
        <div class="card-body text-white">
          <p class="card-text text-white text-justify">An Alphavantage API key is suggested to download historical
            prices. We use a couple of other services to get prices (that do not require an API key) but Alphavantage is
            another reliable source of prices for stocks, currencies and crypto.
            <span class='text-white'>
              <a href='https://www.alphavantage.co/support/#api-key' target='new_page' class='text-white'><br>Click
                here</a> to get a free API key. Then input it below to test.</p>

          <div class="input-group mb-3">
            <input id='api_txt' type="text" class="form-control" value={{aa_apikey}} aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button id='api_key' class="btn btn-outline-secondary text-white" type="button">Test Key</button>
            </div>
          </div>
          <p class='small text-right'>
            Tor can be setup later for more private price requests
            </span></p>
          <div class='content-section' id='api_status' style="display:none; background: white;">

          </div>

        </div>
      </div>
    </div>
  </div>


</div>
</div>
<br><br>
<script src="/static/welcome.js"></script>

{% endblock content %}